<div class="card">
    <div class="card-body">
        <form [formGroup]="employeeFrom" novalidate>
            <!-- INÍCIO BLOCO: Employee Name-->
            <div class="form-goup">
                <label for="employee Name" class="font-weight-bold">Employee Name</label>

                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{'mb-3': !employeeFrom.controls['employeeName'].invalid, 
                    'mb-2': employeeFrom.controls['employeeName'].invalid}" 
                    placeholder="Type your Name" 
                    formControlName="employeeName"
                    #employeeName 
                />

                <div *ngIf="employeeFrom.controls['employeeName'].invalid
                    && (employeeFrom.controls['employeeName'].dirty
                    || employeeFrom.controls['employeeName'].touched)" 
                    class="alert alert-danger mt-2  p-1 " 
                    role="alert"
                >
                    <div *ngIf="employeeFrom.controls['employeeName'].errors">
                        The field 'Employee Name' is required
                    </div>
    
                </div>
            </div>
            <!-- FIM BLOCO: Employee Name -->
            
            <!-- INÍCIO BLOCO: Job Role<-->
            <div class="form-goup">
                <label for="job-role" class="font-weight-bold">Job Role</label>

                <input 
                    type="text" 
                    class="form-control" 
                    [ngClass]="{'mb-3': !employeeFrom.controls['jobRole'].invalid, 
                    'mb-2': employeeFrom.controls['jobRole'].invalid}" 
                    placeholder="Type your Job Role"
                    formControlName="jobRole"
                    #jobRole 
                />

                <div *ngIf="employeeFrom.controls['jobRole'].invalid
                    && (employeeFrom.controls['jobRole'].dirty
                    || employeeFrom.controls['jobRole'].touched)" 
                    class="alert alert-danger mt-2  p-1" 
                    role="alert"
                >
                    <div *ngIf="employeeFrom.controls['jobRole'].errors">
                        The field 'Job Role' is required
                    </div>
    
                </div>
            </div>
            <!-- FIM BLOCO: Job Role -->

            <!-- INÍCIO BLOCO: Salary<-->
            <div class="form-goup">
                <label for="salary" class="font-weight-bold">Salary</label>

                <input 
                    type="text" 
                    class="form-control" 
                    [ngClass]="{'mb-3': !employeeFrom.controls['salary'].invalid, 
                    'mb-2': employeeFrom.controls['salary'].invalid}"
                    placeholder="Type your salary"
                    formControlName="salary"
                    #salary 
                />

                <div *ngIf="employeeFrom.controls['salary'].invalid
                    && (employeeFrom.controls['salary'].dirty
                    || employeeFrom.controls['salary'].touched)" 
                    class="alert alert-danger mt-2  p-1" 
                    role="alert"
                >
                    <div *ngIf="employeeFrom.controls['salary'].errors">
                        The field 'Salary' is required
                    </div>
    
                </div>
            </div>
            <!-- FIM BLOCO: Salary -->

            <!-- INÍCIO BLOCO: birth<-->
            <div class="form-goup">
                <label for="birth" class="">birth</label>
                <input 
                    type="date" 
                    class="form-control" 
                    [ngClass]="{'mb-3': !employeeFrom.controls['birth'].invalid, 
                    'mb-2': employeeFrom.controls['salary'].invalid}"
                    placeholder="NN/DD/YYYY"  
                    formControlName="birth" 
                    #birth 
                />
                <div *ngIf="employeeFrom.controls['birth'].invalid
                    && (employeeFrom.controls['birth'].dirty
                    || employeeFrom.controls['birth'].touched)" 
                    class="alert alert-danger mt-2  p-1 " 
                    role="alert"
                >
                    <div *ngIf="employeeFrom.controls['birth'].errors">
                        The field 'birth' is required
                    </div>
    
                </div>
            </div>
            <!-- FIM BLOCO: birth -->

            <!-- INÍCIO BLOCO: Employee Registration<-->
            <div class="form-goup">
                <label for="employee-registration" class="">Employee Registration</label>
                <input 
                    type="text" 
                    class="form-control" 
                    [ngClass]="{'mb-3': !employeeFrom.controls['employeeRegistration'].invalid,
                    'mb-2': employeeFrom.controls['employeeRegistration'].invalid}"
                    placeholder="Type your Employee Registration"  
                    formControlName="employeeRegistration" 
                    #employeeRegistration 
                />
                <div *ngIf="employeeFrom.controls['employeeRegistration'].invalid
                    && (employeeFrom.controls['employeeRegistration'].dirty
                    || employeeFrom.controls['employeeRegistration'].touched)" 
                    class="alert alert-danger mt-2  p-1 " 
                    role="alert"
                >
                    <div *ngIf="employeeFrom.controls['employeeRegistration'].errors">
                        The field 'Employee Registration' is required
                    </div>
    
                </div>
            </div>
            <!-- FIM BLOCO: Employee Registration -->
        </form>
    </div>
</div>