<table class="table table-hover">
    <thead>
        <tr>
            <td align="center">Employee Name</td>
            <td align="center">Job Role</td>
            <td align="center">Salary</td>
            <td align="center">Birth</td>
            <td align="center">Employee Registration</td>
            <td align="center" colspan="2">Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td align="center">{{employee.name}}</td>
            <td align="center">{{employee.job_role}}</td>
            <td align="center">{{ employee.salary | currency: 'R$':'symbol' }}</td>

            <td align="center">{{employee.birth}}</td>
            <td align="center">{{employee.employee_registration}}</td>
            <td align="center">
                <a [routerLink]="['/employee/', employee.employee_id]" class="btn btn-success">
                    Edit
                </a>
            </td>
            <td>
                <button (click)="deleteEmployee(employee.employee_id)" class="btn btn-danger">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>